
/*Failed screen*/
.login_container {
        align-items: center;
       justify-content: center;
       width: 100%;
       position: fixed;
       top: 0;
       left: 0;
       inset: 0;  
       display: flex; 
    }
    
    #login_signup_failed {
      border: 0.5px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
    
    #login_signup_failed h2 {
      color: red;
    }
    
    #login_signup_failed button {
      background-color: purple;
      color: white;
      font-size: 20px;
      padding: 0 10px;
    }