/*Add to cart screen*/
    #cancel_btn_add_container {
        display: flex;
        flex-direction: row;
        margin-right: auto;
    }
    #add_to_cart_container {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-left: 6vw;
    margin-top: 7vw;
    width: 100%;
}

#add_to_cart_container div h1 {
  margin: 0;
}

#add_to_cart_container img {
    width: 30vw;
    height: 40vw;
    object-fit: cover;
}

#add_to_cart_container p {
    font-size: 24px !important;
}

#add_cart_screen b {
    font-size: 30px !important;
}
/* Right content column */
#add_to_cart_container > div {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

/* Button row (quantity + add to cart) */
#add_to_cart_container > div > div {
    display: flex;
    flex-direction: row;
    gap: 6vw;
}

/* Quantity buttons */
#add_to_cart_container > div > div > div {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* Quantity buttons */
#add_to_cart_container > div > div > div button {
    font-weight: bold;
}

/* +/- buttons */
#add_to_cart_container button {
    background-color: rgb(207, 207, 207);
    color: black;
    padding: 10px 20px !important;
    font-size: 20px !important;
    border: 1px solid black;
    border-radius: 10px;
}

/* Add to cart button */
#add_to_cart_container > div > div > button {
    background-color: blue;
    color: white;
    padding: 5px !important;
    font-size: 15px !important;
    width: 100px !important; /* Adjust as needed */
    height: 40px !important; /* Adjust as needed */
    border: none;
}

#cancel_btn_add_container button {
  background-color: transparent;
   color: red;
   font-size: 4vw;
   border: none;
}

#web_header_item {
        position: relative;
        top: 0px;
        left: 0px;
        margin: 0;
        background-color: #2F3A73;
        width: 100%;
        padding: 7px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #web_header_item > button {
        color: white;
        font-size: 22px;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    
    #web_header_item > p {
        color: white;
        font-size: 22px;
        background-color: transparent;
        margin: 0;
        margin-left: 5px;
    }

    #quantity_selector_add_cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

@media (max-width: 520px) {
   #add_to_cart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
   }
   
   #add_to_cart_container > div > div {
     align-items: center;
   }
   
   #cancel_btn_add_container button {
     font-size: 6vw;
   }
   
   #add_to_cart_container img {
    width: 50vw;
    height: 70vw;
   }
}